.footer{
    bottom: 0;
    width: 100%;
    background-color: rgb(64, 63, 63);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.footer p{
    color: white;
}

.footer .footer-links{
    display: flex;
    gap: 18px;
}

.footer .footer-links a{
    text-decoration: none;
    color: #e99a07;
}

.footer .footer-links a:hover{
    color: #0486d2;
}