@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.home{
    min-height: 115vh;
    max-height: 100vh;
    overflow: scroll;
    position: relative;
    padding: 2rem 2rem;
    font-family: 'Montserrat', sans-serif !important;
}

.home::-webkit-scrollbar{
    display: none;
}

.home .heading{
    font-family: 'Montserrat', sans-serif !important;
}

.home .stat-container{
    padding:0 1.1rem;
}

.loader{
    position: absolute;
    right: 47%;
    top: 35%;
}

.currency-container{
    margin: 2rem 0;
}

.headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headings a{
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: gray;
    font-size: 1rem;
}

.headings a:hover{
    color: #0486d2;
}