.container{
    width: 100%;
    height: 100vh;
}

.navbar{
   background-color: #edede9;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.8rem 4%;
}

.image{
    display: flex;
    align-items: center;
    gap: 5px;
}

.title{
    font-size: 1.3rem;
    background: -webkit-linear-gradient(#f10679, #8406f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2rem;
}

.link a{
    text-decoration: none;
    background: -webkit-linear-gradient(#f10679, #8406f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.link button{
    border: none;
    outline: none;
    font-size: 1rem;
    background: -webkit-linear-gradient(#f10679, #8406f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon{
   color: #f10679;
}

