@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Kanit&family=Whisper&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }
}

.web-name{
  font-family: 'Ephesis', cursive;
  /* font-family: 'Whisper', cursive; 
  text-transform: uppercase; */
  font-weight: 900;
  font-size: 2.3rem;
}
