@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Italianno&family=Orbitron&family=Roboto+Condensed&family=Rubik:wght@400;500;700&family=Whisper&display=swap');

html,body,#root,.app{
    height: 100%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.logo{
    color: #ff4d6d;
    font-weight: 500;
}
